<mat-nav-list>
  <div class="profile-card">
      <div class="header">
          <h2>Andrianna Yovbak</h2>
          <h4>andrianna.yovbak.mknm.2020@lpnu.ua</h4>
      </div>
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Components</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Diary</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/habbits">Habbits Tracker</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/todo">ToDo list</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/balance">Balance Wheel</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/statistics">
      <mat-icon>assessment</mat-icon>
      Statisctics
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/selection">
      <mat-icon>playlist_add_check</mat-icon>
      Selection menu
  </a>

</mat-nav-list>
