<!-- <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" (click)="openSelectionCard()">
  <mat-icon>bookmark</mat-icon>
</button> -->
<app-selection-menu
  [isSelectionCardOpen]="isSelectionCardOpen"
  (onSelectionClose)="closeSelectionCard()"
></app-selection-menu>
<!-- <button mat-fab (click)="changeTheme()"
  color="warn" aria-label="Example icon button with a home icon">
  <mat-icon *ngIf="isLightTheme">dark_mode</mat-icon>
  <mat-icon *ngIf="!isLightTheme">light_mode</mat-icon>
</button> -->
