<mat-card class="main-card" *ngIf="isSelectionCardOpen">
  <button mat-icon-button color="primary"
    aria-label="Close selection component button"
    (click)="closeSelectionCard()"
    class="main-card-close-icon">
    <span class="material-icons">
      close
    </span>
  </button>
  <div class="main-card-header">
    <mat-card-title>Select tools you'd like to use</mat-card-title>
    <mat-card-subtitle>*Grey blocks displays those which are comming soon</mat-card-subtitle>
  </div>
  <div class="cards">
    <mat-card *ngFor="let card of cards" class="card" [ngClass]="{ 'disabled': card.comingsoon}" (click)="onCardClick(card.id)"
      matTooltip="Info tooltip about {{card.name}} tool"
      matTooltipClass='tooltip'>
      <mat-checkbox [disabled]="card.comingsoon" class="card-checkbox" [(ngModel)]="card.checked" (click)="$event.stopPropagation()"></mat-checkbox>
      <mat-card-title>{{card.name}}</mat-card-title>
      <mat-card-content>
        <p>This is component is supporting {{card.name}} functionality.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card-actions class="main-card-actions">
    <button mat-button color="warn" (click)="closeSelectionCard()">Cancel</button>
    <button mat-button color="primary" (click)="saveSelectionCard()">Save</button>
  </mat-card-actions>
</mat-card>
