<div class="add-new">
  <a mat-stroked-button color="primary" [routerLink]="['/posts/create']">Add new post</a>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts" [expanded]="post.isOpened">
    <mat-expansion-panel-header (click)="openPost(post)">
      {{ post.date | date }}
      <div *ngFor="let mood of moods()">
        <div *ngIf="mood === post.mood" class="mood">{{ moodsIcons[mood] }}</div>
      </div>
      <div class="edited">
        {{ post.isEdited ? 'edited' : ''}}
      </div>
    </mat-expansion-panel-header>
    <b>{{ post.title }}</b>
    <p>{{ post.content }}</p>
    <div class="image-preview" *ngIf="post.imagePath">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>

    <mat-action-row>
      <mat-chip-list
        class="example-chip"
        cdkDropList 
        cdkDropListOrientation="horizontal">
        <mat-chip
          class="example-box"
          cdkDrag
          *ngFor="let label of post.labels">
          {{label}}
        </mat-chip>
      </mat-chip-list>

      <a mat-button color="primary" [routerLink]="['/posts/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator [length]="postsAmount" *ngIf="posts.length > 0"
              [pageSize]="pageSize"
              [pageSizeOptions]="[1, 2, 5, 10]"
              [pageIndex]="currentPage - 1"
              (page)="onPageChange($event)">
</mat-paginator>

<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
