<app-header-block
  [ngClass]="{ 'light-theme': isLightTheme, 'dark-theme': !isLightTheme }"
  (toggleSideBarForMe)="sideBarToggler($event)"
  (onChangeTheme)="changeTheme()"
  [isLightTheme]="isLightTheme"
></app-header-block>

<mat-drawer-container [ngClass]="{ 'light-theme': isLightTheme, 'dark-theme': !isLightTheme }">
  <mat-drawer mode="side" [opened]="sideBarOpen" class="scroll">
    <app-side-block></app-side-block>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<!-- <app-footer-block
  [ngClass]="{ 'light-theme': isLightTheme, 'dark-theme': !isLightTheme }"
></app-footer-block> -->
